<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{_template :: head('Sair')}"></head>


<body class="grey lighten-2">

    <main class="container center">

        <h4>tem certeza que deseja sair dessa aplicação maravilhosa ?</h4>

        <form th:action="${'/logout'}" method="post">
            <a href="/anime" class="btn grey">
                <i class="material-icons left">chevron_left</i>
                cancelar
            </a>

            <button class="btn">sim, desejo sair</button>

        </form>


    </main>

</body>

</html>